{% extends 'base.html' %}

{% block header_text %}
About
{% endblock %}

{% block main %}
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et urna ut libero aliquam aliquet. Praesent et libero tortor. Etiam eleifend consequat nisi, et dictum nibh consectetur et. Suspendisse eget urna nibh. Cras nisl nisi, consequat sed aliquam eget, volutpat vitae sapien. Aliquam eget nibh et magna porta scelerisque. Nullam ac dictum quam.
</p>
<p>
    Vestibulum eget consequat nibh. Integer at purus velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc vel suscipit lacus, vel tristique velit. Duis eget velit tincidunt, blandit ligula sed, posuere purus. Mauris bibendum, leo eget sodales lacinia, nulla arcu suscipit tellus, ut vulputate eros massa
</p>
{% endblock %}
